@charset "UTF-8";

@font-face {
    font-family: "SpaceMono-Bold";
    src: url("../../fonts/SpaceMono-Bold.ttf");
}

*{
    padding: 0;
    margin: 0;
    font-family: "SpaceMono-Bold";
}

body 
{
    background: hsl(185, 41%, 84%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    #img_logo_top
    {
        margin-top: 10px;
    }

    button, input 
    {
        font-size: 25px;
    }

    input[type="number"]
    {
        background: hsl(189, 47%, 97%);
        color: hsl(183, 100%, 15%);
        border: none;
        padding: 5px;
        text-align: right;
        border-radius: 5px;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button 
        {
            -webkit-appearance: none;
        }
    
        &:hover 
        {
            outline:1px solid  hsl(172, 67%, 45%);
        }
        &:focus 
        {
            outline:1px solid  hsl(172, 67%, 45%);
        }
    }

    main 
    {
        background: white;
        padding: 20px;
        border-radius: 20px;
        margin-top: 2em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
       
        label 
        {
            display: block;
        }

        #cmp_BillValue 
        {
            margin: 1em 0;
            background: hsl(189, 47%, 97%);
            border-radius: 5px;
            height: 50px;
            img 
            {
               transform: translate(15px, -35px);
            }
            input 
            {
                width: 100%;
            }
        }

        #cmp_gorjetas 
        {
            margin: 1em 0;
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(2, 1fr);
            width: 300px;
           

            .porcentagens 
            {
                background: hsl(183, 100%, 15%);
                color: white;
                border: none;
                padding: 10px;
                border-radius: 5px;
                width: 170px;
                cursor: pointer;
                transition: background-color .5s, color .5s;
                &:hover 
                {
                    background: hsl(185, 41%, 84%);
                    color: hsl(183, 100%, 15%);
                }
            }
            #custom 
            {
                width: 160px;
            }
        }

        #number_people 
        {
            width: 100%;
            margin-top: 10px;
        }
         #img_icon_person
            {
                height: 20px;
                transform: translate(15px, -35px);
            }

        #cmp_conta_final 
        {
            background: hsl(183, 100%, 15%);
            padding: 20px;
            border-radius: 15px;
            display: flex;
            flex-wrap: wrap;
            width: 300px;
            div 
            {
                flex-basis: 100%;
                color: white;
            }

            .text_gray
            {
                color: hsl(186, 14%, 43%);

            }

            span 
            {
                margin-left: auto;
                font-size: 30px;
                color: hsla(172, 67%, 45%, 0.788);
            }

            #btn_reset 
            {
                flex-basis: 100%;
                background: hsl(172, 67%, 45%);
                color: hsl(183, 100%, 15%);
                border: none;
                border-radius: 5px;
                padding: 5px;
                opacity: 0.5;
                cursor: pointer;
                transition: background-color .5s;
                &:hover 
                {
                    background: hsl(185, 41%, 84%);
                }
            }
        }    

        .button_activate
        {
            color: hsl(183, 100%, 15%) !important;
            background: hsl(172, 67%, 45%) !important;
        }

        .error
        {
            color: rgb(206, 41, 41);
            background-color: rgba(206, 41, 41, 0.205);
            outline:2px solid rgba(255, 0, 0, 0.5) !important;
        }
    }

    @media screen and (max-width:800px) {
         main 
        {
            width: 350px;
        
            #cmp_conta_final 
            {
                margin-top: 2em;
                #btn_reset 
                {
                    margin-top: 1em;
                }
            }
        }
    }

    @media screen and (min-width: 800px){

        main 
        {
         
            #cmp_gorjetas 
            {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                .porcentagens
                {
                    width: 110px;
                }
                #custom 
                {
                    width: 100px;
                }
            }

            #cmp_conta_final 
            {
                margin-left: 60px;
                #btn_reset 
                {
                    margin-top: 120px;
                    
                }
            }
        }
    }
}