* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

#box_0 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
#box_0 #box_0_nav {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 3em;
}
#box_0 h1 {
  color: white;
  text-align: center;
  margin: 1em 0;
  margin: auto;
}
#box_0 img {
  margin: auto;
  display: block;
  margin-top: 2em;
}

#box_5 div > h2, #box_5 p {
  color: hsl(167, 40%, 24%);
}

#box_5, #box_6 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  display: flex;
  align-items: end;
}
#box_5 div, #box_6 div {
  text-align: center;
}
#box_5 div h2, #box_6 div h2 {
  margin-bottom: 1em;
}
#box_5 div p, #box_6 div p {
  margin-bottom: 3em;
}

#box_6 div > h2, #box_6 p {
  color: hsl(198, 62%, 26%);
}

#box_7 #box_7_title {
  color: hsl(213, 9%, 39%);
  text-align: center;
  margin: 3em 0;
}
#box_7 img {
  border-radius: 50%;
  margin: auto;
  display: block;
  height: 80px;
  margin-bottom: 2em;
}
#box_7 .box_7_persons > p {
  line-height: 1.5em;
  margin-bottom: 2em;
  text-align: center;
  padding: 0 20px;
}
#box_7 section h3, #box_7 section p {
  text-align: center;
}
#box_7 section p {
  color: hsl(232, 10%, 55%);
  margin: 10px 0 4em;
}

#box_8 {
  display: flex;
}

footer {
  padding-top: 2em;
  background: hsla(168, 34%, 41%, 0.493);
}
footer h2 {
  color: hsl(167, 40%, 24%);
  text-align: center;
  margin-bottom: 1em;
}
footer nav {
  color: hsl(168, 34%, 41%);
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
  max-width: 400px;
  margin: auto;
}
footer nav p {
  cursor: pointer;
}
footer nav p:hover {
  color: white;
}
footer #rs_ {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  max-width: 200px;
  margin: 4em auto 0px;
  padding-bottom: 3em;
}
footer #rs_ img {
  cursor: pointer;
}
footer #rs_ img:hover {
  filter: brightness(7);
}

.box_text h2 {
  margin: 2em 0 1em;
}
.box_text .learn_more {
  margin: 1em 0 3em;
}

@media (max-width: 600px) {
  #menu_mobile_activated {
    position: absolute;
    display: none;
    width: 80%;
    height: 35%;
    z-index: 1;
    flex-direction: column;
    transform: translate(13%);
    margin-top: 50px;
  }
  #menu_mobile_activated #triangulo {
    border-bottom: 100px solid rgb(255, 255, 255);
    border-left: 50px solid transparent;
    margin-left: 87%;
  }
  #menu_mobile_activated div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 10px;
  }
  #menu_mobile_activated p {
    color: hsl(213, 9%, 39%);
    cursor: pointer;
    padding: 10px;
    border-radius: 30px;
    transition: background-Color 0.6s;
  }
  #menu_mobile_activated p:hover {
    background: hsl(51, 100%, 49%);
    color: black;
  }
  #box_0 {
    background-image: url("../../imgs/mobile/image-header.jpg");
    height: 500px;
  }
  #box_0 #cmp_icon_hamburger {
    display: block;
    cursor: pointer;
  }
  #box_0 #cmp_navs {
    display: none;
  }
  #box_0 h1 {
    width: 200px;
  }
  .box_text {
    text-align: center;
  }
  #box_1 > img, #box_3 > img {
    width: 100%;
  }
  #box_5 {
    background-image: url("../../imgs/mobile/image-graphic-design.jpg");
  }
  #box_6 {
    background-image: url("../../imgs/mobile/image-photography.jpg");
  }
  #box_8 {
    flex-wrap: wrap;
  }
  #box_8 img {
    width: 50%;
  }
}
@media (min-width: 600px) {
  main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1800px;
  }
  main #menu_mobile_activated {
    display: none !important;
  }
  #box_0 {
    background-image: url("../../imgs/desktop/image-header.jpg");
    width: 100%;
    height: 600px;
  }
  #box_0 #cmp_icon_hamburger {
    display: none;
  }
  #box_0 #cmp_navs {
    display: flex;
    align-items: center;
  }
  #box_0 #cmp_navs p {
    color: white;
    padding: 10px;
  }
  #box_0 #cmp_navs p:hover {
    border-radius: 30px;
    background: hsla(206, 4%, 67%, 0.671);
    cursor: pointer;
    transition: background-Color 0.6s;
  }
  .box_text {
    padding: 5%;
    width: 39% !important;
    display: flex;
    align-items: center;
    font-size: 1.2em;
  }
  .box_text div {
    margin: auto;
  }
  .box_text div p {
    max-width: 370px;
  }
  .box_text div .learn_more {
    margin-top: 2em;
  }
  #box_1 {
    width: 50%;
    transform: translate(100%);
  }
  #box_1 img {
    width: 100%;
    height: 100%;
  }
  #box_2 {
    width: 50%;
    transform: translate(-100%);
  }
  #box_2 .learn_more {
    line-height: 4px;
  }
  #box_2 .learn_more:hover {
    border-bottom: 7px solid hsl(51, 100%, 49%);
    border-radius: 20px;
    width: 120px;
    cursor: pointer;
  }
  #box_3 {
    width: 50%;
  }
  #box_3 img {
    width: 100%;
    height: 100%;
  }
  #box_4 {
    width: 50%;
  }
  #box_4 .learn_more {
    line-height: 4px;
  }
  #box_4 .learn_more:hover {
    border-bottom: 7px solid hsl(7, 99%, 70%);
    border-radius: 20px;
    width: 120px;
    cursor: pointer;
  }
  #box_5 {
    background-image: url("../../imgs/desktop/image-graphic-design.jpg");
    width: 50%;
  }
  #box_5 div, #box_6 div {
    width: 300px;
    line-height: 1.3em;
    margin: 0 auto;
  }
  #box_6 {
    background-image: url("../../imgs/desktop/image-photography.jpg");
    width: 50%;
  }
  #box_7 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #box_7 #box_7_title {
    flex-basis: 100%;
  }
  #box_7 .box_7_persons {
    flex-basis: 23%;
  }
  #box_8 {
    width: 100%;
  }
  #box_8 img {
    width: 25%;
  }
  footer {
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
