* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media (max-width: 1000px) {
  main {
    margin-top: 50px;
  }
  main #img_main {
    width: 360px;
    flex-basis: 80%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  main #cmp_text {
    min-width: 360px;
    transform: translateY(-50px);
    z-index: 1;
    flex-basis: 80%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .redes_mobile {
    border: 1px;
    display: flex;
    align-items: center;
    padding: 40px;
    z-index: 1;
    max-width: 780px;
    width: 80%;
    height: 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: translateY(-145%);
  }
  .redes_mobile p {
    font-size: 1.7em;
    margin-right: 20px;
    color: hsl(212, 23%, 69%);
  }
  .redes_mobile img {
    margin-left: 20px;
  }
  .redes_mobile .__svg_activate_redes {
    transform: scale(1.5);
  }
  #try {
    display: none;
  }
}
@media (min-width: 1000px) {
  main {
    margin-left: 70px;
  }
  main #img_main {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
  main #cmp_text {
    width: 500px;
    height: 330px;
    transform: translateX(-70px);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
  .redes_desktop {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    transform: translate(350px, -150px);
    border-radius: 10px;
    width: 150px;
  }
  .redes_desktop .__svg_activate_redes {
    display: none;
  }
  .redes_desktop p {
    color: hsl(212, 23%, 69%);
  }
  #try {
    border: 15px solid hsl(217, 19%, 35%);
    border-top-width: 15px;
    border-bottom-width: 0px;
    border-left-color: transparent;
    border-right-color: transparent;
    transform: translate(350px, -150px);
  }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  min-height: 100vh;
  background: hsl(210, 46%, 95%);
}
body main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
body main #img_main {
  height: 330px;
}
body main #cmp_text {
  padding: 50px;
  background: white;
}
body main #cmp_text h2 {
  margin-bottom: 15px;
  color: hsl(217, 19%, 35%);
}
body main #cmp_text p {
  color: hsl(214, 17%, 51%);
}
body main #cmp_text footer {
  display: flex;
  flex-flow: wrap;
  margin-top: 1.5em;
}
body main #cmp_text footer #img_avatar {
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
body main #cmp_text footer .cmp_svg {
  margin-left: auto;
  margin-top: 1em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body main #cmp_text footer .cmp_svg:hover {
  background: #6E8098;
}
body main #cmp_text footer .cmp_svg:hover .img_icon_share {
  fill: white;
}
body main #cmp_text footer .cmp_svg .img_icon_share {
  height: 15px;
  fill: #6E8098;
}
body main #cmp_text footer .cmp_svg_activate {
  background: #6E8098;
}
body main #cmp_text footer .cmp_svg_activate .img_icon_share {
  fill: white !important;
}
body .__svg_activate_redes {
  background: hsl(212, 23%, 69%);
  margin-left: auto;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body .__svg_activate_redes .img_icon_share {
  fill: white !important;
}
body .redes {
  background: hsl(217, 19%, 35%);
  display: none;
}

/*# sourceMappingURL=index.css.map */
